# GitHub Actions workflow for Dependabot configuration

version: 2
updates:
  # Added update for Node.js (npm)
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'

  # Enable version updates for Docker
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"

  # Enable version updates for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
